body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.page {
    display: none;
    transition: transform 0.5s ease;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #333;
}

.bottom-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #232523;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
}
